* { 
    box-sizing: inherit; 
}

body { 
    box-sizing: border-box; 
    background-image: linear-gradient(to Right, #3B7BA7, #3B7BA7 50%, white 50%, white);
}

.header {
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.aside {
    flex: none;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 50px;
    background: #3B7BA7;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

    background: white;

    position: relative;
}

.name {
    font-family: 'Cinzel Decorative', cursive;
    margin: 0;
    font-weight: 700;
    line-height: 1;
}

.name-firstname {
    font-size: 60px;
}

.name-lastname {
    font-size: 60px;
    color: #7ba73b;
    font-weight: 900;
}

.name-title {
    font-size: 30px;
    margin-top: 30px;
    color: #939393;
    font-weight: normal;
}

.img-profil {
    border-radius: 50%;
    width: 100%;
    display: block;
}

.cartouche{
    position: absolute;
    bottom: 50px;
    border-top: #939393 solid 1px;
}

.cartouche {
    position: absolute;
    bottom: 50px;

    width: calc(100% - 100px);
    table-layout: fixed;
    border-top: 1px solid #939393;
    font-size: 16px;
}

.cartouche th {
    text-align: left;
}